header {
  margin-bottom: 20px;
}

.navbar-brand {
  margin-left: 50px;
}

.nav-item {
  margin-right: 50px;
}

#toggler {
  margin-left: 50px;
}

#moeAndOonLogo {
  border: 1px solid green;
  display: inline-block;
  position: relative;
  left: 100px;
}

#header-about {
  border: 1px solid orange;
  display: inline-block;
  position: relative;
  left: 450px;
  bottom: 20px;
}

#header-insta {
  border: 1px solid blue;
  display: inline-block;
  position: relative;
  left: 500px;
  bottom: 20px;
}

#prev-arrow {
  position: absolute;
  left: 150px;
  top: 525px;
}

#next-arrow {
  position: absolute;
  right: 150px;
  top: 525px;
}

.pg {
  border: 2px solid #353361;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
}

#about-header {
  display: block;
  width: 10%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 20px;
}

#about-section {
  width: 30%;
  margin: auto;
  margin-bottom: 20px;
}

.about-content {
  line-height: 1.5em;
}

#about-bear {
  display: block;
  margin: auto;
}
